{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
</head>
<body>
    {% block navbar %}
    <form id="languageForm" action="{% url 'set_language' %}" method="post" >
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}" >
        <select name="language" onchange="this.form.submit();">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                    {{ lang.1 }}
                </option>
            {% endfor %}
        </select>
    </form>
    
    <h1>{% trans "Welcome to My Site" %}</h1>
    <p>{% blocktrans %}This is a demonstration of Django's translation features.{% endblocktrans %}</p>

    <h1>{% trans "Welcome to AddressBook" %}</h1>
    <ul class="Nav">
        <li><a href="">Main Page</a></li>
        <li><a href="">Add Buudies</a></li>
        <li><a href="{% url 'message_page' %}">Messages</a></li>
    </ul>

    
    {% endblock %}
    
    {% block content %}
    <!-- Default content block (you can add more blocks as needed) -->
    {% endblock %}
    
</body>
</html>