{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
</head>
<body>
    {% block navbar %}
    <p>
        <a href="/en-us/"> <button>English</button></a>
        <a href="/de/"> <button>German</button></a>

    </p>
    
    <h1>{% trans "Welcome to My Site" %}</h1>
    <p>{% blocktrans %}This is a demonstration of Django's translation features.{% endblocktrans %}</p>

    <h1>{% trans "Welcome to AddressBook" %}</h1>
    <ul class="Nav">
        <li><a href="">Main Page</a></li>
        <li><a href="">Add Buudies</a></li>
    </ul>
    {% endblock %}
    
    {% block content %}
    <!-- Default content block (you can add more blocks as needed) -->
    {% endblock %}
    
</body>
</html>