<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
</head>
<body>
    {% block navbar %}
    <h1>Welcome to AddressBook</h1>
    <ul class="Nav">
        <li><a href="">Main Page</a></li>
        <li><a href="">Add Buudies</a></li>
    </ul>
    {% endblock %}
    
    {% block content %}
    <!-- Default content block (you can add more blocks as needed) -->
    {% endblock %}
    
</body>
</html>